/* Hide scrollbar for Chrome, Safari */
.scroll-hide::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for Firefox */
  .scroll-hide {
    scrollbar-width: none;
  }
  
  /* Hide scrollbar for IE, Edge */
  .scroll-hide {
    -ms-overflow-style: none;
  }
  